button.fav{
  color: white;
  background-color: gold;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
}

button.fav:hover{
  background-color: #d8b71e;
  transition: 0.3s;
}



button.del{
  color: white;
  background-color: gray;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
}

button.del:hover{
  background-color: #515151;
  transition: 0.3s;
}
